target/
*.class

# Local database configuration
src/main/resources/db.properties
src/test/resources/db.properties

# Vaadin
node_modules/
frontend/generated/
package.json
package-lock.json
vite.config.ts
tsconfig.json
types.d.ts
# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

tomcat/
tomcat.zip
vite.generated.ts
src/main/bundles/
